@font-face
{
    font-family: 'Open Sans'; 
    font-style: normal; 
    font-weight: 400; 
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'); 
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}/* cyrillic */

@font-face
{
    font-family: 'Open Sans'; 
    font-style: normal; 
    font-weight: 400; 
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'); 
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}/* greek-ext */

@font-face
{
    font-family: 'Open Sans'; 
    font-style: normal; 
    font-weight: 400; 
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'); 
    unicode-range: U+1F00-1FFF;
}/* greek */

@font-face
{
    font-family: 'Open Sans'; 
    font-style: normal; 
    font-weight: 400; 
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'); 
    unicode-range: U+0370-03FF;
}/* vietnamese */

@font-face
{
    font-family: 'Open Sans'; 
    font-style: normal; 
    font-weight: 400; 
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'); 
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}/* latin-ext */

@font-face
{
    font-family: 'Open Sans'; 
    font-style: normal; 
    font-weight: 400; 
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'); 
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}/* latin */

@font-face
{
    font-family: 'Open Sans'; 
    font-style: normal; 
    font-weight: 400; 
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'); 
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

body
{
    font-family: 'Open Sans', sans-serif; 
    background: #f8f8f8
}

.input-group textarea
{
    height: 120px !important
}

.input-group 
{
    margin-bottom: 10px
}

.sub-heading
{
    font-size: 24px; 
    color: #666; 
    padding-bottom: 10px; 
    border-bottom: solid 1px #ccc; 
    margin-bottom: 15px
}

.input-group-addon, .form-control
{
    border-radius: 0px !important
}

.input-group-addon
{
    color: #06C
}

.c-info .glyphicon
{
    width: 20px; 
    text-align: left; 
    color: #099
}

.c-info p
{
    margin: 0; 
    padding: 0; 
    margin-bottom: 20px; 
    color: #666
}

.alert
{
    border-radius: 0px
}

.tab-section
{
    margin-top: 20px;
}

fieldset div 
{
    float: left;
    width: 260px;
    padding-right: 10px;
}

fieldset div label 
{
    display: inline-block;
    width: 220px;
    margin: 3px 0 0;
}

.test input,.test label 
{
    vertical-align: top;
    line-height: 1.2;
}

